*,
*:before,
*:after {
  box-sizing: border-box;
  background-color: rgb(237, 237, 248);
}

@import url("https://fonts.googleapis.com/css?family=Butterfly+Kids|Roboto");
.textarea {
  background-color: whitesmoke;
  width: 60em;
  height: 15em;
  border: 1px solid #cccccc;
  padding: 0.5em;
  font-family: Tahoma, sans-serif;
}

.kreis {
  width: 400px;
  border-radius: 50%;
  border: 12px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-100px);
}

.kreiss p:first-child {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}
.kreiss p:last-child {
  font-size: 20px;
}
.main {
  position: relative;
}

.main {
  position: relative;
}
.main textarea {
  width: 92%;
  margin: 0 4% 0 4%;
  resize: none;
  font-size: 30px;
}
.main button {
  background-color: grey;
  position: absolute;
  right: 100px;
  bottom: -10px;
  font-size: 25px;
  padding: 10px 150px 10px 150px;
}
#text {
  text-align: center;
  background-color: bisque;
  padding: 30px;
  font-size: 25px;
  margin-top: 40px;
  font-style: italic;
}
